{% extends "gstbillingapp/base.html" %}


{% load static %}
<!doctype html>

{% block content %}

<h2>Create Invoice</h2>

<form method="POST" id="invoice-form" hidden="true">

	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="table-active" scope="col" colspan="4">Invoice Details</th>
			</tr>
		</thead>

		<tbody class="two-col-form">
			<tr>
				<th scope="row">Invoice Number</th>
				<td class="form-input-td"><input name="invoice-number" type="number" class="form-control" placeholder="Invoice Number" value="{{default_invoice_number}}"></td>
				<th scope="row">Date</th>
				<td class="form-input-td"><input name="invoice-date" type="date" class="form-control", value="{{default_invoice_date}}"></td>
			</tr>
			<tr>
				<th scope="row">Payment Type</th>
				<td class="form-input-td" colspan="3">
					<select name="invoice-payment-type" class="form-control" required>
						<option value="" disabled selected>Select Payment Type</option>
						<option value="cash_memo">Cash Memo</option>
						<option value="check">Paid by Check</option>
						<option value="credit_card">Credit Card</option>
						<option value="debit_card">Debit Card</option>
						<option value="upi">UPI</option>
						<option value="bank_transfer">Bank Transfer</option>
						<option value="e_wallet">E-Wallet</option>
						<option value="net_banking">Net Banking</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="table-active" scope="col" colspan="4">Customer Details</th>
			</tr>
		</thead>

		<tbody class="two-col-form">
			<tr>
				<th scope="row">Customer Name</th>
				<td class="form-input-td customer_search_area"><input autocomplete="off" name="customer-name" type="text" class="form-control customer_search_input" id="customer-name-input" placeholder="Customer Name" required>
				</td>
				<th scope="row">Customer Address</th>
				<td class="form-input-td"><input autocomplete="off" name="customer-address" type="text" class="form-control" id="customer-address-input" placeholder="Customer Address" required></td>
			</tr>
			<tr>
				<th scope="row">Customer Mobile Number</th>
				<td class="form-input-td"><input autocomplete="off" name="customer-phone" type="tel" class="form-control" id="customer-phone-input" placeholder="Customer Mobile Number"></td>
				<th scope="row">Customer GST</th>
				<td class="form-input-td"><input autocomplete="off" name="customer-gst" type="text" class="form-control" id="customer-gst-input" placeholder="Customer GST" maxlength="15" pattern="([A-Za-z0-9]{15})|(^$)"></td>
			</tr>
			<tr>
				<th scope="row">Customer PAN</th>
				<td class="form-input-td"><input autocomplete="off" name="customer-pan" type="text" class="form-control" id="customer-pan-input" placeholder="Customer PAN" maxlength="10" pattern="([A-Za-z0-9]{10})|(^$)"></td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<tbody class="two-col-form">
			<tr>
				<th scope="row">Vehicle Number</th>
				<td class="form-input-td"><input autocomplete="off" name="vehicle-number" type="text" class="form-control" placeholder="Vehicle Number">
				</td>
				<th scope="row"></th>
				<td class="form-input-td">
					<div class="form-check">
						<input class="form-check-input" name="igstcheck" type="checkbox" id="igstcheck">
						<label class="form-check-label" for="igstcheck">
							IGST
						</label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered" id="invoice-form-items-table">
		<thead>
			<th class="table-active" scope="col" colspan="13">Items</th>

			<tr>
				<th scope="col">#</th>
				<th scope="col" colspan="3">Product Name</th>
				<th scope="col">HSN / SAC</th>
				<th scope="col">Qty</th>
				<th scope="col">Rate without GST</th>
				<th scope="col">GST %</th>


				<th scope="col">Amt without GST</th>
				<th scope="col">SGST</th>
				<th scope="col">CGST</th>
				<th scope="col">IGST</th>
				<th scope="col">Amt with GST</th>

			</tr>
		</thead>
		<tbody id="invoice-form-items-table-body">
			<tr>
				<td class="invoice-item-slno">1</td>
				<td class="form-input-td" colspan="3"><input name="invoice-product" type="text" class="form-control product_search_area product_search_input" placeholder="Product"></td>
				<td class="form-input-td"><input name="invoice-hsn" type="text" class="form-control" placeholder="HSN"></td>
				<td class="form-input-td"><input name="invoice-qty" type="number" step="any" class="form-control" placeholder="Qty"></td>
<!--				<td class="form-input-td"><input name="invoice-rate-without-gst" type="number" step="any" class="form-control" placeholder="Rate without GST"></td>-->
				<td class="form-input-td"><input name="invoice-rate-with-out-gst-new" type="number" step="any" class="form-control" placeholder="Rate without GST NEW"></td>
				<td class="form-input-td"><input name="invoice-gst-percentage" type="number" step="any" class="form-control" placeholder="GST %"></td>


				<td class="form-input-td"><input name="invoice-amt-without-gst" type="number" step="any" class="form-control" readonly></td>
				<td class="form-input-td"><input name="invoice-amt-sgst" type="number" step="any" class="form-control" readonly></td>
				<td class="form-input-td"><input name="invoice-amt-cgst" type="number" step="any" class="form-control" readonly></td>
				<td class="form-input-td"><input name="invoice-amt-igst" type="number" step="any" class="form-control" readonly></td>
				<td class="form-input-td"><input name="invoice-amt-with-gst" type="number" step="any" class="form-control" readonly></td>
			</tr>
		</tbody>

		<tr>
			<td colspan="8" class="text-right"><strong>TOTAL:</strong></td>
			<td class="form-input-td"><input name="invoice-total-amt-without-gst" type="number" step="any" class="form-control" readonly></td>
			<td class="form-input-td"><input name="invoice-total-amt-sgst" type="number" step="any" class="form-control" readonly></td>
			<td class="form-input-td"><input name="invoice-total-amt-cgst" type="number" step="any" class="form-control" readonly></td>
			<td class="form-input-td"><input name="invoice-total-amt-igst" type="number" step="any" class="form-control" readonly></td>
			<td class="form-input-td"><input name="invoice-total-amt-with-gst" type="number" step="any" class="form-control" readonly></td>
		</tr>

	</table>
	{% csrf_token %}
	<button class="btn btn-primary" id="invoice-form-addrow">+</button>
	<button type="submit" class="btn btn-primary">Submit</button>

</form>


</div>
<div id="customer_search_bar"></div>
<div id="product_search_bar"></div>


{% endblock %}



{% block includejs %}
<script src="{% static "gstbillingapp/js/fuse-3.4.6.min.js" %}"></script>
<script src="{% static "gstbillingapp/js/main.js" %}"></script>
<!--<script>-->
<!--    document.addEventListener("DOMContentLoaded", () => {-->
<!--        const tableBody = document.getElementById('invoice-form-items-table-body');-->

<!--        // Event listener for dynamic calculations-->
<!--        tableBody.addEventListener('input', (event) => {-->
<!--            const row = event.target.closest('tr'); // Get the current row-->
<!--            if (!row) return;-->

<!--            const gstPercentageInput = row.querySelector('.gst-percentage-input');-->
<!--            const rateWithoutGSTInput = row.querySelector('.rate-without-gst-input');-->
<!--            const rateWithGSTInput = row.querySelector('[name="invoice-rate-with-gst"]');-->

<!--            const gstPercentage = parseFloat(gstPercentageInput.value) || 0;-->
<!--            const rateWithoutGST = parseFloat(rateWithoutGSTInput.value) || 0;-->

<!--            // Calculate rate with GST-->
<!--            const rateWithGST = rateWithoutGST + (rateWithoutGST * gstPercentage / 100);-->
<!--            rateWithGSTInput.value = rateWithGST.toFixed(2); // Set the calculated value-->
<!--        });-->
<!--    });-->
<!--</script>-->
{% endblock %}
